.my-wrap{
  display: flex;
  flex-direction: column;
  height:100vh;
}
.main{
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
}
@media(min-width:760px){
  .my-wrap{
    flex-direction: row;

  }
}
.leftnav-wrap{
  width: 260px;
  background:#26A69A;
}
.leftnav-wrap h3{
  color: #fff;

  margin:0;
  padding: 20px 30px;
  font-weight: bold;
  border-bottom: 3px solid #baba55;
}
.leftnav-wrap a{
  display: block;
  padding-left: 40px;
  color:#fff;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.leftnav-wrap a span{
  margin-right: 5px;
}


.nav-footer{
  height: 80px;
  background:#26A69A;
  flex-shrink: 0;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.nav-footer a{
  color:#fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #80CBC4;
  flex-grow: 1;
}
.nav-footer a:last-child{
  border: none
}
.nav-footer a span{
  font-size: 28px;
}
.nav-header{
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background:#26A69A;
  padding: 0 6px;
  align-items: center;
}
.nav-header h3{
  margin: 0;
  color:#fff;
}
.nav-header button{
  height: 40px;
  background: #4DB6AC;
  border:none;
  color:#E0F2F1;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
}
.home-wrap{
  flex-grow: 1;
  background-image:url(./images/bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
}
.home-cover{
  background-color:rgba(0,0,0,0.4);
  flex-grow: 1;
  align-items: center;
  display: flex;
}
.home-item{
  flex-grow: 1;
  text-align: center;
  margin: 0 auto;
}
.home-item button{
  background: #006064;
  color:#e0e0e0;
  border:none;
  border-radius: 2px;
  padding: 3px 6px;
  outline: none;
}
.home-item button a{
  color:#e0e0e0;
  text-decoration: none;
}
.about-wrap{
  flex-grow: 1;
  padding: 10px;
}
.git-card{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.17) 3px 3px 6px;
  padding: 5px;
}
.about-form{
  margin:0 auto;
  display: block;
  width:70%;
  max-width: 560px;
}
.show-git{
  display: flex;
  box-shadow: 1px 1px 4px #ccc;
  justify-content: space-around;
  font-size: 13px;
  color: #4DD0E1?
}
.blog-wrap{
  flex-grow: 1;
  margin-top: 20px;
}
.blog-card{
  padding: 0 10px;
  margin-bottom: 20px;
}
.blog-title{
  background-color: #F50057;
  font-size: 24px;
  text-align: center;
  color:#fff;
  height:60px;
  line-height: 60px;
  padding-top: 5px;
  border-top-right-radius: 30px;

}
.blog-title span{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px #fff solid;
  border-radius: 50%;
  line-height: 40px;
}
.blog-content{
  border-bottom-left-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.18) 3px 3px 10px,rgba(0, 0, 0, 0.18) -3px 3px 10px;
  padding:10px;
  color:#666;

}
.blog-content h3{
  margin: 10px 10px;
}
.blog-content p{
  margin: 0px 10px;
}
.bolg-btn{
  margin: 0 auto;
}
